/* Stilizare Articole. */

/* Article cu clasa node--type--article, si din acest element, am stilizat toti h2 care sunt copii. */
article.node--type-article h2 {
    font-size: 24px;

}

h2.node__title a:hover {
    border-bottom: 1px solid salmon;
}

ul.links.field__items {
    text-transform: uppercase;
}

/* Full width content. */
main#content {
    margin: 0 auto;
    width: 100%;
}

/* Footer. */
footer ul.menu {
    display: flex;
}

footer ul.menu li {
    font-size: 14px;
    margin: 0 5px;
}

footer ul.menu li.menu-item a {
    border-bottom: 0;
}

/* Frontpage. */
.view-id-frontpage .views-row {
    margin: 20px 0;
}

.view-id-frontpage .views-row .views-field-title {
    color: black;
    font-size: 24px;
    margin: 10px 0;
}

.view-id-frontpage .views-row .views-field-view-node a {
    border: 1px solid;
    padding: 10px 20px;
    text-transform: uppercase;
}

/* Site Branding. */
.site-branding .site-branding__text {
    display: none;
}

/* Main Menu. */
nav.navigation.menu--main {
    border: none;
}

nav.menu--main ul.menu {
    display: flex;
}

nav.menu--main ul.menu li {
    font-size: 14px;
}

nav.menu--main ul.menu li a {
    border: none;
}